    body {
  background-color: #639;
}

.share-container {
  position: fixed;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background-color: #e4e9e9;
  top: 80%;
  left: 97%;
  transform: translate(-50%, -80%);
  box-shadow: 2px 2px 16px 2px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease, box-shadow 0.1s 0.3s ease;
  z-index: 5;
}
@media only screen and (max-width: 414px){
  .share-container{
    left: 91%;
  }
  
}
@media only screen and (min-width: 414px) and (max-width: 767px){
  .share-container{
    left: 94%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px){
  .share-container{
    left: 95%;
  }
}

.social-check-label {
  z-index: 10;
  position: absolute;
  height: 30px;
  width: 60px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) rotate(0deg);
  border-radius: 100%;
  transition: 0.3s ease;
  &::before, &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 4px;
    width: 35%;
    border-radius: 2px;
    background-color: #03a9f4;
  }

  &::after {
    transform: translate(-50%, -50%) rotate(90deg);
  }
}

.social-button {
  position: absolute;
  height: 75px;
  width: 75px;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.75);
  transition: 0.3s ease, opacity 0.1s ease;
  background-size: cover !important;
  backface-visibility: hidden;
  opacity: 0;
  &.facebook {
    top: 150px;
    background: url("https://cdn4.iconfinder.com/data/icons/social-icon-4/842/facebook-256.png")
      no-repeat center;
  }

  &.youtube {
    top: 225px;
    background: url("/images/ui/youtube.png")
      no-repeat center;
  }

  &.tiktok {
    top: 300px;
    background: url("/images/ui/tiktok.png")
      no-repeat center;
  }
}

.expander {
  position: fixed;
  height: 80px;
  width: 80px;
  border-radius: 100%;
  background-color: #e4e9e9;
  top: 85%;
  left: 95%;
  transform: translate(-50%, -50%);
  backface-visibility: hidden;
  transition: 0.3s ease;
}

#socialCheckbox {
  display: none;
  &:checked {
    & ~ .share-container {
      background-color: transparent;
      height: 250px;
      box-shadow: none;
      transition: 0.3s ease, box-shadow 0.1s ease;
      & > .social-button {
        opacity: 1;
        cursor: pointer;
        &.facebook {
          top: 50px;
          transition: 0.3s ease, opacity 0.33s 0.455s ease,
            top 0.33s 0.405s cubic-bezier(0, 0, 0.5, 1.6);
        }
        &.youtube {
          top: 105px;
          transition: 0.3s ease, opacity 0.33s 0.35s ease,
            top 0.33s 0.3s cubic-bezier(0, 0, 0.5, 1.6);
        }
        &.tiktok {
          top: 160px;
          transition: 0.3s ease, opacity 0.33s 0.25s ease,
            top 0.33s 0.2s cubic-bezier(0, 0, 0.5, 1.6);
        }
        &:hover {
          transform: translate(-50%, -50%) scale(1);
          transition: 0.3s cubic-bezier(0.3, 0.2, 0, 2.5);
        }
      }
      & > .social-check-label {
        transform: translateX(-50%) rotate(225deg);
      }
    }
    & ~ .expander {
      height: 2500px;
      width: 2500px;
    }
  }
}

.sub-btshare{
  height: 75%;
  width: 75%;
  margin: 10px;
  padding: 15px;
  // background: red; check
  border-radius: 30px;
  display: block;
}

@media screen and (max-width: 800px) {
  #socialCheckbox:checked ~ .expander {
    height: 1200px;
    width: 1200px;
  }
}
